# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
integer = tuple(range(1,11))
print(integer)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [6]:
print(f"The first element is {integer[0]}")
print(f"The middle element is {integer[len(integer)//2]}")
print(f"The last element is {integer[-1]}")

The first element is 1
The middle element is 6
The last element is 10




### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [13]:
print(f"The first three elements are {integer[0:3]}")
print(f"The last three elements are {integer[-3:]}")
print(f"the index 2 to 5 {integer[2:6]}")

The first three elements are (1, 2, 3)
The last three elements are (8, 9, 10)
the index 2 to 5 (3, 4, 5, 6)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [14]:
matrix=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6




### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [15]:
tp1 = (1,2,3)
tp2 = (4,5,6)
concatenate= tp1+tp2
print(f"The concatenated tuples : {concatenate}")

The concatenated tuples : (1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [16]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1




### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [17]:
tup = (1,2,3,4,5,6,7)
a,b,c,d,e,f,g=tup
print(a,b,c,d,e,f,g)

1 2 3 4 5 6 7



### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [18]:
lst = [1,2,3,4,5]
print(f"The list is {lst}")
tup = tuple(lst)
print(f"The tuple is {tup}")

The list is [1, 2, 3, 4, 5]
The tuple is (1, 2, 3, 4, 5)



### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [19]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))



### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [20]:
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)



### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [23]:
strng = "hello"
tpl = tuple(strng)
joint = ''.join(tpl)
print(tpl)
print(joint)

('h', 'e', 'l', 'l', 'o')
hello


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [24]:
tupdic = {
    (1,2):3,
    (4,5):6,
    (7,8):9
}
print(tupdic)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [25]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [26]:
tpl = (1,2,2,4,4,3,3,5,6,3)
st = set(tpl)
print(st)

{1, 2, 3, 4, 5, 6}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [27]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15